.header {
    padding: 20px 0;
    color: black;
    background-color: rgb(120, 152, 238);
    width: 100%;
    text-align: center;
    /* border-bottom: 5px solid rgb(237, 233, 111); */
    margin-bottom: 10px;
}